// IMPORTS
@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://fonts.cdnfonts.com/css/rogan');

// VARIABLES
$digital-font: 'Digital-7', sans-serif;
$body-font: 'rogan', sans-serif;

$light-gray: #d7d7d7;
$dark-gray: #353535;

// GLOBAL APP SETTINGS
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
    min-width: 21.875rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    font-family: $body-font;
    background: url('./../assets/pageBg.jpg');
    background-size: cover;
    background-position: 50% 50%;

    @media screen and (max-width: 36rem) {
        align-items: center;
    }
}

button {
    cursor: pointer;
}

// GLOBAL RADIO CLOCK SETTINGS
.clock {

    position: relative;
    height: 55%;
    max-width: 95%;
    aspect-ratio: 2 / 1;
    margin-bottom: 3rem;

    &__bg {
        width: 100%;
        height: 100%;
        border: 0.063rem solid;
        display: flex;
        background: linear-gradient(147deg, $light-gray 0%, $dark-gray 74%), $light-gray;
        border-radius: 0.8rem;
        position: relative;
        z-index: 3;

        @media screen and (max-width: 36rem) {
            border-radius: 0.5rem;
        }
    }

    @media screen and (max-width: 62rem) {
        height: 45%;
        margin-bottom: 6rem;
    }

    @media screen and (max-width: 48rem) {
        height: 35%;
        margin-bottom: 10rem;
    }

    @media screen and (max-width: 36rem) {
        height: 25%;
        margin-bottom: 0;
    }

}

