@import url("https://fonts.cdnfonts.com/css/digital-7-mono");
@import url("https://fonts.cdnfonts.com/css/rogan");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  font-family: "rogan", sans-serif;
  background: url("../assets/pageBg.jpg");
  background-size: cover;
}

button {
  cursor: pointer;
}

.clock {
  position: relative;
  height: 55%;
  aspect-ratio: 2/1;
  margin-bottom: 3rem;
}
.clock__bg {
  width: 100%;
  height: 100%;
  border: 1px solid;
  display: flex;
  background: linear-gradient(147deg, #d7d7d7 0%, #353535 74%), #d7d7d7;
  border-radius: 1rem;
  position: relative;
  z-index: 3;
}

.clock__externalControls {
  position: absolute;
  top: 0;
  left: 95%;
  width: 20%;
  height: 8%;
  transform: translate(-95%, -100%);
  display: flex;
  justify-content: space-between;
}
.clock__externalControls button {
  border: 1px solid;
  border-bottom: none;
  background: none;
  width: 45%;
  cursor: pointer;
  background-color: #d7d7d7;
  font-size: 0.8rem;
  border-radius: 0.2rem 0.2rem 0 0;
}
.clock__antenna {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 700px solid;
  position: absolute;
  top: -117%;
  left: 45%;
  transform: rotate(-110deg);
  transform-origin: left;
}
.clock__antenna-end {
  position: absolute;
  top: -58.5%;
  left: 82%;
  width: 3rem;
  height: 0.5rem;
  background-color: black;
  border-radius: 20%;
  transform: rotate(-20deg);
}

.clock__internalControls {
  height: 100%;
  width: 40%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.clock__switchContainer {
  display: flex;
  width: 100%;
  height: 25%;
  gap: 1rem;
  padding: 0.5rem 0;
}
.clock__switch {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.clock__switch h2 {
  text-align: center;
}
.clock__onContainer {
  border: 1px solid;
  flex-grow: 1;
  height: 50%;
  display: flex;
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: white;
}
.clock__onContainer--on {
  justify-content: flex-start;
}
.clock__onContainer--off {
  justify-content: flex-end;
}
.clock__on {
  width: 50%;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: #353535;
}
.clock__on:hover {
  background-color: rgba(53, 53, 53, 0.8);
}
.clock__onOffBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}
.clock__lengthContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  gap: 1rem;
}
.clock__length {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.clock__smallScreenContainer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.clock__smallScreenContainer button {
  background-color: transparent;
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  background-color: #353535;
}
.clock__smallScreen {
  width: 100%;
  height: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Digital-7", sans-serif;
  border-radius: 0.2rem;
}

.clock__screenAndStations {
  height: 100%;
  width: 60%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.clock__mainScreen {
  width: 100%;
  height: 30%;
  padding: 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: "Digital-7", sans-serif;
  border-radius: 0.2rem;
}
.clock__mainDisplay {
  width: 100%;
  height: 70%;
  display: flex;
  font-size: 4.5rem;
  justify-content: flex-end;
  align-items: end;
  letter-spacing: 0.1rem;
}
.clock__time {
  font-size: 5.5rem;
}
.clock__time span {
  font-size: 2.5rem;
  display: inline-block;
  min-width: 50px;
  padding-left: 0.2rem;
}
.clock__secondaryDisplay {
  width: 100%;
  height: 30%;
  text-align: right;
  font-size: 1.5rem;
}
.clock__stationsContainer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.clock__stationsOverview {
  border: 1px solid;
  height: 40%;
  background-image: url("./../assets/radio_stations_illustration.jpg");
  background-size: 100% 100%;
  border-radius: 0.2rem;
  overflow: hidden;
}
.clock__stationOverviewIndicator {
  height: 100%;
  width: 0;
  border: 2px solid red;
  position: relative;
}
.clock__stationsCursorContainer {
  border: 1px solid;
  height: 5%;
  display: flex;
  align-items: center;
  background-color: white;
}
.clock__stationsCursor {
  height: 1.5rem;
  width: 0.6rem;
  background-color: black;
  position: relative;
  cursor: pointer;
  border-radius: 0.2rem;
}
.clock__speakers {
  height: 40%;
  width: 100%;
  border: 1px solid;
  background-image: url("../assets/speakers_bg.jpg");
  background-size: cover;
  border-radius: 0.2rem;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */