@import url("https://fonts.cdnfonts.com/css/digital-7-mono");
@import url("https://fonts.cdnfonts.com/css/rogan");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
  min-width: 21.875rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  font-family: "rogan", sans-serif;
  background: url("./../assets/pageBg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
@media screen and (max-width: 36rem) {
  main {
    align-items: center;
  }
}

button {
  cursor: pointer;
}

.clock {
  position: relative;
  height: 55%;
  max-width: 95%;
  aspect-ratio: 2/1;
  margin-bottom: 3rem;
}
.clock__bg {
  width: 100%;
  height: 100%;
  border: 0.063rem solid;
  display: flex;
  background: linear-gradient(147deg, #d7d7d7 0%, #353535 74%), #d7d7d7;
  border-radius: 0.8rem;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 36rem) {
  .clock__bg {
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 62rem) {
  .clock {
    height: 45%;
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock {
    height: 35%;
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock {
    height: 25%;
    margin-bottom: 0;
  }
}

.clock__externalControls {
  position: absolute;
  top: 0;
  left: 95%;
  width: 20%;
  height: 8%;
  transform: translate(-95%, -100%);
  display: flex;
  justify-content: space-between;
}
.clock__externalControls button {
  border: 0.063rem solid;
  border-bottom: none;
  background: none;
  width: 45%;
  background-color: #d7d7d7;
  font-size: 0.8rem;
  border-radius: 0.2rem 0.2rem 0 0;
}
@media screen and (max-width: 62rem) {
  .clock__externalControls button {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__externalControls button {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__externalControls button {
    font-size: 0.5rem;
  }
}
.clock__extrernalAntenna {
  position: absolute;
  bottom: 97%;
  transform: rotate(70deg);
  transform-origin: bottom;
  height: 170%;
}

.clock__internalControls {
  height: 100%;
  width: 40%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (max-width: 48rem) {
  .clock__internalControls {
    gap: 0;
  }
}
@media screen and (max-width: 36rem) {
  .clock__internalControls {
    padding: 0.2rem 0 0.2rem 0.2rem;
  }
}
.clock__switchContainer {
  display: flex;
  width: 100%;
  height: 25%;
  gap: 1rem;
  padding: 0.5rem 0;
}
@media screen and (max-width: 36rem) {
  .clock__switchContainer {
    padding: 0.2rem 0;
    gap: 0.5rem;
  }
}
.clock__switch {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.clock__switch h2 {
  text-align: center;
}
@media screen and (max-width: 62rem) {
  .clock__switch h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__switch h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__switch h2 {
    font-size: 0.7rem;
  }
}
.clock__onContainer {
  border: 0.063rem solid;
  flex-grow: 1;
  height: 50%;
  display: flex;
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: white;
}
.clock__onContainer--on {
  justify-content: flex-start;
}
.clock__onContainer--off {
  justify-content: flex-end;
}
@media screen and (max-width: 62rem) {
  .clock__onContainer {
    height: 60%;
  }
}
@media screen and (max-width: 36rem) {
  .clock__onContainer {
    height: 55%;
  }
}
.clock__on {
  width: 50%;
  height: 100%;
  border: none;
  background-color: #353535;
}
.clock__on:hover {
  background-color: rgba(53, 53, 53, 0.8);
}
.clock__onOffBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}
@media screen and (max-width: 62rem) {
  .clock__onOffBtn {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__onOffBtn {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__onOffBtn {
    font-size: 0.6rem;
    gap: 0.2rem;
  }
}
.clock__lengthContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  gap: 1rem;
}
@media screen and (max-width: 48rem) {
  .clock__lengthContainer {
    gap: 0.3rem;
  }
}
.clock__length {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
@media screen and (max-width: 48rem) {
  .clock__length {
    gap: 0.2rem;
  }
}
@media screen and (max-width: 62rem) {
  .clock__length h3 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__length h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__length h3 {
    font-size: 0.7rem;
  }
}
.clock__smallScreenContainer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
@media screen and (max-width: 36rem) {
  .clock__smallScreenContainer {
    gap: 0.2rem;
  }
}
.clock__smallScreenContainer button {
  background-color: transparent;
  border: 0.063rem solid;
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 62rem) {
  .clock__smallScreenContainer button {
    width: 1.5rem;
    height: 1.5rem;
  }
  .clock__smallScreenContainer button svg {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__smallScreenContainer button {
    width: 1.2rem;
    height: 1.2rem;
  }
  .clock__smallScreenContainer button svg {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__smallScreenContainer button {
    width: 1rem;
    height: 1rem;
  }
  .clock__smallScreenContainer button svg {
    font-size: 0.4rem;
  }
}
.clock__smallScreen {
  width: 100%;
  height: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Digital-7", sans-serif;
  border-radius: 0.2rem;
}
@media screen and (max-width: 62rem) {
  .clock__smallScreen {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__smallScreen {
    font-size: 1rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__smallScreen {
    font-size: 0.8rem;
  }
}

.clock__screenAndStations {
  height: 100%;
  width: 60%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 36rem) {
  .clock__screenAndStations {
    padding: 0.2rem;
  }
}
.clock__mainScreen {
  width: 100%;
  height: 30%;
  padding: 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: "Digital-7", sans-serif;
  border-radius: 0.2rem;
}
@media screen and (max-width: 36rem) {
  .clock__mainScreen {
    padding: 0.2rem 0.2rem 0;
  }
}
.clock__mainDisplay {
  width: 100%;
  height: 70%;
  display: flex;
  font-size: 4.5rem;
  justify-content: flex-end;
  align-items: end;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 62rem) {
  .clock__mainDisplay {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__mainDisplay {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__mainDisplay {
    font-size: 2rem;
  }
}
.clock__time {
  font-size: 5.5rem;
}
@media screen and (max-width: 62rem) {
  .clock__time {
    font-size: 4rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__time {
    font-size: 3rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__time {
    font-size: 2.2rem;
  }
}
.clock__time span {
  font-size: 2.5rem;
  display: inline-block;
  min-width: 3.125rem;
  padding-left: 0.2rem;
}
@media screen and (max-width: 62rem) {
  .clock__time span {
    font-size: 1.5rem;
    min-width: 1.875rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__time span {
    font-size: 1rem;
    min-width: 1.563rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__time span {
    font-size: 0.8rem;
    min-width: 1.25rem;
  }
}
.clock__secondaryDisplay {
  width: 100%;
  height: 30%;
  text-align: right;
  font-size: 1.5rem;
}
@media screen and (max-width: 62rem) {
  .clock__secondaryDisplay {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 48rem) {
  .clock__secondaryDisplay {
    font-size: 1rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__secondaryDisplay {
    font-size: 0.8rem;
  }
}
.clock__stationsContainer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
@media screen and (max-width: 48rem) {
  .clock__stationsContainer {
    gap: 1rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__stationsContainer {
    gap: 0.5rem;
  }
}
.clock__stationsOverview {
  border: 0.063rem solid;
  height: 40%;
  background-image: url("./../assets/radio_stations_illustration.jpg");
  background-size: 100% 100%;
  border-radius: 0.2rem;
  overflow: hidden;
}
.clock__stationOverviewIndicator {
  height: 100%;
  width: 0;
  border: 0.125rem solid red;
  position: relative;
}
@media screen and (max-width: 36rem) {
  .clock__stationOverviewIndicator {
    border: 0.063rem solid red;
  }
}
.clock__stationsCursorContainer {
  border: 0.063rem solid;
  height: 5%;
  display: flex;
  align-items: center;
  background-color: white;
}
.clock__stationsCursor {
  height: 1.5rem;
  width: 0.6rem;
  background-color: black;
  position: relative;
  cursor: pointer;
  border-radius: 0.2rem;
}
@media screen and (max-width: 62rem) {
  .clock__stationsCursor {
    height: 1.2rem;
    width: 0.4rem;
    border-radius: 0.1rem;
  }
}
@media screen and (max-width: 36rem) {
  .clock__stationsCursor {
    height: 0.8rem;
    width: 0.3rem;
  }
}
.clock__speakers {
  height: 40%;
  width: 100%;
  border: 0.063rem solid;
  background-image: url("./../assets/speakers_bg.jpg");
  background-size: cover;
  border-radius: 0.2rem;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */